* {
   margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

footer {
    position: fixed; 
    left: 0; bottom: 0; 
    width: 100%;
    height: 2%;
	background-image: linear-gradient(to left, #307fd6, #4c88d7, #6191d9, #739ada, #84a3db, #7ba0cf, #769cc2, #7398b5, #5f8597, #52727a, #475e60, #3e4a49);
    text-align: center;
    padding: 1px;
    box-shadow: 1px -2px 12px black;
}
#allItems {
	margin: 3%;
}
