* {
   margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

footer {
    flex: 0 0 auto;
    
	background: rgba(133,188,255,1);
	background: -moz-linear-gradient(left, rgba(133,188,255,1) 0%, rgba(133,188,255,1) 50%, rgba(93,160,255,1) 84%, rgba(77,148,255,1) 98%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(133,188,255,1)), color-stop(50%, rgba(133,188,255,1)), color-stop(84%, rgba(93,160,255,1)), color-stop(98%, rgba(77,148,255,1)));
	background: -webkit-linear-gradient(left, rgba(133,188,255,1) 0%, rgba(133,188,255,1) 50%, rgba(93,160,255,1) 84%, rgba(77,148,255,1) 98%);
	background: -o-linear-gradient(left, rgba(133,188,255,1) 0%, rgba(133,188,255,1) 50%, rgba(93,160,255,1) 84%, rgba(77,148,255,1) 98%);
	background: -ms-linear-gradient(left, rgba(133,188,255,1) 0%, rgba(133,188,255,1) 50%, rgba(93,160,255,1) 84%, rgba(77,148,255,1) 98%);
	background: linear-gradient(to right, rgba(133,188,255,1) 0%, rgba(133,188,255,1) 50%, rgba(93,160,255,1) 84%, rgba(77,148,255,1) 98%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#85bcff', endColorstr='#4d94ff', GradientType=1 );


    text-align: center;
    padding: 3px;
    box-shadow: 1px -2px 12px black;
}
pre {
	background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}