@charset "UTF-8";
/* line 5, ../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/all/base.scss */
.decolines {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 8, ../sass/all/base.scss */
.decolines span {
  display: block;
  position: absolute;
  top: 0;
  width: 1px;
  height: 100%;
  background: #383838;
  left: calc((100% - 3px) / 4);
}
/* line 17, ../sass/all/base.scss */
.decolines span:nth-child(2) {
  left: calc((100% - 3px) / 4 * 2);
}
/* line 21, ../sass/all/base.scss */
.decolines span:nth-child(3) {
  left: calc((100% - 3px) / 4 * 3);
}
/* line 25, ../sass/all/base.scss */
.decolines span:nth-child(4) {
  left: initial;
  right: calc((100% - 3px) / 4);
}

/* line 32, ../sass/all/base.scss */
.blocktitle {
  position: relative;
  overflow: hidden;
  font-size: 40px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 800;
  margin: auto;
  line-height: 1.2;
}

/* line 43, ../sass/all/base.scss */
.desctext {
  position: relative;
  overflow: hidden;
  margin: auto;
  font-size: 16px;
  color: #fff;
  line-height: 1.5;
  width: 64%;
}
/* line 52, ../sass/all/base.scss */
.desctext span {
  color: #29b8f2;
}
/* line 56, ../sass/all/base.scss */
.desctext a {
  position: relative;
  color: #29b8f2;
}
/* line 60, ../sass/all/base.scss */
.desctext a:hover {
  border-bottom: 1px solid #29b8f2;
}

/* line 66, ../sass/all/base.scss */
.LinkDown {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
/* line 77, ../sass/all/base.scss */
.LinkDown span {
  display: block;
  position: relative;
  overflow: hidden;
  margin: auto;
  font-size: 25px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  padding: 47px 0;
  line-height: 1.2;
  background: url(../img/icon-03.png) center bottom no-repeat;
  background-size: auto 33px;
}
/* line 94, ../sass/all/base.scss */
.LinkDown:hover span {
  color: #29b8f2;
}

/* line 100, ../sass/all/base.scss */
.linkborder {
  display: block;
  position: relative;
  overflow: hidden;
  margin: auto;
  height: 50px;
  border: 1px solid #29b8f2;
  line-height: 50px;
  color: #fff;
  font-size: 18px;
  padding: 0 20px;
  border-radius: 1px;
}
/* line 113, ../sass/all/base.scss */
.linkborder:hover {
  background: #29b8f2;
}

@media only screen and (min-width: 1440px) and (max-width: 1650px) {
  /* line 120, ../sass/all/base.scss */
  .blocktitle {
    font-size: 35px;
  }

  /* line 124, ../sass/all/base.scss */
  .desctext {
    font-size: 14px;
    width: 76%;
  }

  /* line 130, ../sass/all/base.scss */
  .LinkDown span {
    font-size: 22px;
  }

  /* line 135, ../sass/all/base.scss */
  .linkborder {
    height: 45px;
    line-height: 45px;
    font-size: 16px;
  }
}
@media only screen and (min-width: 1220px) and (max-width: 1439px) {
  /* line 145, ../sass/all/base.scss */
  .blocktitle {
    font-size: 30px;
  }

  /* line 149, ../sass/all/base.scss */
  .desctext {
    font-size: 12px;
    width: 70%;
  }

  /* line 155, ../sass/all/base.scss */
  .LinkDown span {
    font-size: 20px;
    padding: 35px 0;
    background: url(../img/icon-03.png) center bottom no-repeat;
    background-size: auto 25px;
  }

  /* line 163, ../sass/all/base.scss */
  .linkborder {
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    padding: 0 15px;
  }
}
@media only screen and (min-width: 1000px) and (max-width: 1219px) {
  /* line 174, ../sass/all/base.scss */
  .blocktitle {
    font-size: 25px;
  }

  /* line 178, ../sass/all/base.scss */
  .desctext {
    font-size: 10px;
    width: 80%;
  }

  /* line 184, ../sass/all/base.scss */
  .LinkDown span {
    font-size: 18px;
    padding: 30px 0;
    background-size: auto 21px;
  }

  /* line 191, ../sass/all/base.scss */
  .linkborder {
    height: 30px;
    line-height: 30px;
    font-size: 11px;
    padding: 0 14px;
  }
}
@media only screen and (min-width: 640px) and (max-width: 999px) {
  /* line 203, ../sass/all/base.scss */
  .LinkDown span {
    font-size: 15px;
  }

  /* line 208, ../sass/all/base.scss */
  .desctext {
    font-size: 9px;
    width: 80%;
    margin: auto 8px;
  }

  /* line 215, ../sass/all/base.scss */
  .LinkDown span {
    font-size: 15px;
    padding: 30px 0;
    background-size: auto 21px;
  }

  /* line 222, ../sass/all/base.scss */
  .blocktitle {
    font-size: 20px;
  }

  /* line 226, ../sass/all/base.scss */
  .linkborder {
    height: 30px;
    line-height: 30px;
    font-size: 10px;
    padding: 0 14px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 639px) {
  /* line 236, ../sass/all/base.scss */
  .decolines {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  /* line 243, ../sass/all/base.scss */
  .decolines span {
    display: block;
    position: absolute;
    top: 0;
    width: 1px;
    height: 100%;
    background: #383838;
    left: calc((100% - 2px) / 2);
  }
  /* line 252, ../sass/all/base.scss */
  .decolines span:nth-child(2) {
    display: none;
  }
  /* line 256, ../sass/all/base.scss */
  .decolines span:nth-child(3) {
    display: none;
  }

  /* line 264, ../sass/all/base.scss */
  #ServiceMob .decolines {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  /* line 271, ../sass/all/base.scss */
  #ServiceMob .decolines span {
    display: block;
    position: absolute;
    top: 0;
    width: 1px;
    height: calc(100vh / 3 * 2 + 3px);
    background: #383838;
    left: calc((100% - 2px) / 2);
  }
  /* line 280, ../sass/all/base.scss */
  #ServiceMob .decolines span:nth-child(3) {
    display: none;
  }

  /* line 288, ../sass/all/base.scss */
  .desctext {
    font-size: 9px;
    position: relative;
    overflow: hidden;
    margin: auto 8px;
    color: #fff;
    line-height: 1.5;
    width: 80%;
  }

  /* line 298, ../sass/all/base.scss */
  .blocktitle {
    position: relative;
    overflow: hidden;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 800;
    margin: auto;
    line-height: 1.2;
  }

  /* line 309, ../sass/all/base.scss */
  .linkborder {
    display: block;
    position: relative;
    overflow: hidden;
    margin: auto;
    height: 30px;
    border: 1px solid #29b8f2;
    line-height: 30px;
    color: #fff;
    font-size: 10px;
    padding: 0 20px;
  }
}
/* line 3, ../sass/all/wrapper.scss */
body {
  min-height: 100vh;
}

/* line 7, ../sass/all/wrapper.scss */
html, body {
  min-height: 100%;
  line-height: 1.2;
  font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Roboto Slab', serif;
  font-family: 'PT Sans', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Open Sans Condensed', sans-serif;
  font-family: 'Rubik', sans-serif;
  font-family: 'Montserrat', sans-serif;
  background: url(../imgNew/body-bg.png) left top;
}

@font-face {
  font-family: 'SabonLTStd';
  src: url(https://prostokosmos.kz/font/SabonLTStd-Roman.otf);
}
/* Контейнер */
/* line 27, ../sass/all/wrapper.scss */
.wrapper {
  width: 100%;
}

/* line 29, ../sass/all/wrapper.scss */
.container {
  width: 1220px;
  margin: 0 auto;
  padding: 0;
}

/* line 35, ../sass/all/wrapper.scss */
.column, .columns {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

/* line 41, ../sass/all/wrapper.scss */
.content {
  overflow: hidden;
}

/* line 43, ../sass/all/wrapper.scss */
.container .sixteen.columns {
  width: 1200px;
}

/* line 45, ../sass/all/wrapper.scss */
.position-relative {
  position: relative;
  overflow: hidden;
}

/* line 50, ../sass/all/wrapper.scss */
input[type="text"], input[type="submit"], input[type="email"], textarea {
  -webkit-appearance: none;
}

/* line 52, ../sass/all/wrapper.scss */
a {
  text-decoration: none;
}

@media only screen and (min-width: 1000px) and (max-width: 1240px) {
  /* line 57, ../sass/all/wrapper.scss */
  .container {
    width: 980px;
  }

  /* line 58, ../sass/all/wrapper.scss */
  .container .sixteen.columns {
    width: 960px;
  }

  /* line 59, ../sass/all/wrapper.scss */
  .column, .columns {
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media only screen and (min-width: 710px) and (max-width: 999px) {
  /* line 66, ../sass/all/wrapper.scss */
  .container {
    width: 100%;
  }

  /* line 67, ../sass/all/wrapper.scss */
  .container .sixteen.columns {
    width: 96%;
  }

  /* line 68, ../sass/all/wrapper.scss */
  .column, .columns {
    margin-left: 2%;
    margin-right: 2%;
  }

  /* line 69, ../sass/all/wrapper.scss */
  body::-webkit-scrollbar {
    width: 0;
  }
}
@media only screen and (min-width: 120px) and (max-width: 709px) {
  /* line 75, ../sass/all/wrapper.scss */
  .container {
    width: 100%;
  }

  /* line 76, ../sass/all/wrapper.scss */
  .container .sixteen.columns {
    width: 96%;
  }

  /* line 77, ../sass/all/wrapper.scss */
  .column, .columns {
    margin-left: 2%;
    margin-right: 2%;
  }

  /* line 78, ../sass/all/wrapper.scss */
  body::-webkit-scrollbar {
    width: 0;
  }
}
@media only screen and (min-width: 1600px) and (max-width: 1920px) {
  /* line 4, ../sass/all/font-size.scss */
  h1 {
    font-size: 70px;
    line-height: 85px;
  }

  /* line 9, ../sass/all/font-size.scss */
  h2 {
    font-size: 40px;
    line-height: 55px;
  }

  /* line 14, ../sass/all/font-size.scss */
  h3 {
    font-size: 30px;
    line-height: 37px;
  }

  /* line 19, ../sass/all/font-size.scss */
  h4 {
    font-size: 25px;
    line-height: 33px;
  }

  /* line 24, ../sass/all/font-size.scss */
  .LinkDown {
    font-size: 25px;
    line-height: 33px;
  }

  /* line 29, ../sass/all/font-size.scss */
  .desctext {
    font-size: 16px;
    line-height: 24px;
  }

  /* line 36, ../sass/all/font-size.scss */
  .IndexReviewSliderBDesc p {
    font-size: 18px;
    line-height: 27px;
  }

  /* line 42, ../sass/all/font-size.scss */
  .linkborder {
    font-size: 18px;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1599px) {
  /* line 50, ../sass/all/font-size.scss */
  h1 {
    font-size: 50px;
    line-height: 66px;
  }

  /* line 55, ../sass/all/font-size.scss */
  h2 {
    font-size: 35px;
    line-height: 44px;
  }

  /* line 60, ../sass/all/font-size.scss */
  h3 {
    font-size: 25px;
    line-height: 33px;
  }

  /* line 65, ../sass/all/font-size.scss */
  h4 {
    font-size: 22px;
    line-height: 27px;
  }

  /* line 70, ../sass/all/font-size.scss */
  .LinkDown {
    font-size: 22px;
    line-height: 27px;
  }

  /* line 75, ../sass/all/font-size.scss */
  .desctext {
    font-size: 14px;
    line-height: 21px;
  }

  /* line 82, ../sass/all/font-size.scss */
  .IndexReviewSliderBDesc p {
    font-size: 16px;
    line-height: 24px;
  }

  /* line 88, ../sass/all/font-size.scss */
  .linkborder {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  /* line 96, ../sass/all/font-size.scss */
  h1 {
    font-size: 47px;
    line-height: 57px;
  }

  /* line 101, ../sass/all/font-size.scss */
  h2 {
    font-size: 30px;
    line-height: 37px;
  }

  /* line 106, ../sass/all/font-size.scss */
  h3 {
    font-size: 20px;
    line-height: 26px;
  }

  /* line 111, ../sass/all/font-size.scss */
  h4 {
    font-size: 20px;
    line-height: 26px;
  }

  /* line 116, ../sass/all/font-size.scss */
  .LinkDown {
    font-size: 22px;
    line-height: 27px;
  }

  /* line 121, ../sass/all/font-size.scss */
  .desctext {
    font-size: 12px;
    line-height: 18px;
  }

  /* line 128, ../sass/all/font-size.scss */
  .IndexReviewSliderBDesc p {
    font-size: 14px;
    line-height: 21px;
  }

  /* line 134, ../sass/all/font-size.scss */
  .linkborder {
    font-size: 14px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1199px) {
  /* line 143, ../sass/all/font-size.scss */
  h1 {
    font-size: 40px;
    line-height: 48px;
  }

  /* line 148, ../sass/all/font-size.scss */
  h2 {
    font-size: 20px;
    line-height: 26px;
  }

  /* line 153, ../sass/all/font-size.scss */
  h3 {
    font-size: 18px;
    line-height: 24px;
  }

  /* line 158, ../sass/all/font-size.scss */
  h4 {
    font-size: 18px;
    line-height: 24px;
  }

  /* line 163, ../sass/all/font-size.scss */
  .LinkDown {
    font-size: 22px;
    line-height: 27px;
  }

  /* line 168, ../sass/all/font-size.scss */
  .desctext {
    font-size: 10px;
    line-height: 15px;
  }

  /* line 175, ../sass/all/font-size.scss */
  .IndexReviewSliderBDesc p {
    font-size: 11px;
    line-height: 15px;
  }

  /* line 181, ../sass/all/font-size.scss */
  .linkborder {
    font-size: 11px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 1023px) {
  /* line 189, ../sass/all/font-size.scss */
  h1 {
    font-size: 30px;
    line-height: 37px;
  }

  /* line 194, ../sass/all/font-size.scss */
  h2 {
    font-size: 20px;
    line-height: 26px;
  }

  /* line 199, ../sass/all/font-size.scss */
  h3 {
    font-size: 15px;
    line-height: 20px;
  }

  /* line 204, ../sass/all/font-size.scss */
  h4 {
    font-size: 15px;
    line-height: 20px;
  }

  /* line 209, ../sass/all/font-size.scss */
  .LinkDown {
    font-size: 22px;
    line-height: 27px;
  }

  /* line 214, ../sass/all/font-size.scss */
  .desctext {
    font-size: 11px;
    line-height: 13px;
  }

  /* line 221, ../sass/all/font-size.scss */
  .IndexReviewSliderBDesc p {
    font-size: 10px;
    line-height: 15px;
  }

  /* line 227, ../sass/all/font-size.scss */
  .linkborder {
    font-size: 10px;
  }
}
/* line 17, ../sass/all/brief-form.scss */
#BriefForm {
  position: relative;
  overflow: hidden;
  width: 100%;
}
/* line 22, ../sass/all/brief-form.scss */
#BriefForm input:focus, #BriefForm textarea:focus {
  outline: none;
  background: transparent;
}
/* line 27, ../sass/all/brief-form.scss */
#BriefForm h3 {
  position: relative;
  overflow: hidden;
  color: #fff;
  margin-top: 55px;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 30px;
  line-height: 37px;
}
/* line 40, ../sass/all/brief-form.scss */
#BriefForm #BriefFormService {
  position: relative;
  overflow: hidden;
}
/* line 44, ../sass/all/brief-form.scss */
#BriefForm #BriefFormService p {
  position: relative;
  overflow: hidden;
  float: left;
  margin-right: 20px;
  margin-bottom: 12px;
}
/* line 51, ../sass/all/brief-form.scss */
#BriefForm #BriefFormService p input {
  position: absolute;
  left: 0px;
  opacity: 0;
  z-index: -20;
}
/* line 57, ../sass/all/brief-form.scss */
#BriefForm #BriefFormService p input:checked + label {
  background: #29b8f2;
}
/* line 61, ../sass/all/brief-form.scss */
#BriefForm #BriefFormService p input:hover + label {
  background: #29b8f2;
}
/* line 66, ../sass/all/brief-form.scss */
#BriefForm #BriefFormService p label {
  position: relative;
  overflow: hidden;
  font-size: 16px;
  color: #0e121a;
  background: #fff;
  height: 40px;
  line-height: 40px;
  border-radius: 3px;
  text-align: center;
  padding: 0px 20px;
  display: inline-block;
  cursor: pointer;
}
/* line 72, ../sass/all/brief-form.scss */
#BriefForm #BriefFormMoney {
  position: relative;
  overflow: hidden;
}
/* line 76, ../sass/all/brief-form.scss */
#BriefForm #BriefFormMoney h3 {
  margin-top: 30px;
}
/* line 80, ../sass/all/brief-form.scss */
#BriefForm #BriefFormMoney p {
  position: relative;
  overflow: hidden;
  float: left;
  margin-right: 20px;
  margin-bottom: 12px;
}
/* line 87, ../sass/all/brief-form.scss */
#BriefForm #BriefFormMoney p input {
  position: absolute;
  left: 0px;
  opacity: 0;
  z-index: -20;
}
/* line 93, ../sass/all/brief-form.scss */
#BriefForm #BriefFormMoney p input:checked + label {
  background: #29b8f2;
}
/* line 97, ../sass/all/brief-form.scss */
#BriefForm #BriefFormMoney p input:hover + label {
  background: #29b8f2;
}
/* line 102, ../sass/all/brief-form.scss */
#BriefForm #BriefFormMoney p label {
  position: relative;
  overflow: hidden;
  font-size: 16px;
  color: #0e121a;
  background: #fff;
  height: 40px;
  line-height: 40px;
  border-radius: 3px;
  text-align: center;
  padding: 0px 20px;
  display: inline-block;
  cursor: pointer;
}
/* line 108, ../sass/all/brief-form.scss */
#BriefForm #BriefFormTask {
  position: relative;
  overflow: hidden;
}
/* line 112, ../sass/all/brief-form.scss */
#BriefForm #BriefFormTask h3 {
  margin-top: 30px;
}
/* line 116, ../sass/all/brief-form.scss */
#BriefForm #BriefFormTask label {
  position: absolute;
  overflow: hidden;
  color: #fff;
  top: 14px;
  left: 0px;
}
/* line 124, ../sass/all/brief-form.scss */
#BriefForm #BriefFormTask input {
  position: relative;
  overflow: hidden;
  padding-bottom: 14px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  padding-top: 19px;
  color: #fff;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  width: calc(100% - 80px);
  padding-left: 80px;
}
/* line 138, ../sass/all/brief-form.scss */
#BriefForm #BriefFormTask input.error {
  border-bottom: 1px solid #ff2d63;
}
/* line 145, ../sass/all/brief-form.scss */
#BriefForm #BriefFormContact {
  position: relative;
  overflow: hidden;
}
/* line 149, ../sass/all/brief-form.scss */
#BriefForm #BriefFormContact #BriefFormContactLBL {
  position: relative;
  overflow: hidden;
  float: left;
  width: calc(50% - 20px);
  margin-right: 40px;
}
/* line 158, ../sass/all/brief-form.scss */
#BriefForm #BriefFormContact #BriefFormContactLBL p:nth-child(2) input {
  margin-bottom: 0px;
  width: calc(100% - 73px);
  padding-left: 73px;
}
/* line 166, ../sass/all/brief-form.scss */
#BriefForm #BriefFormContact #BriefFormContactLBL label {
  position: absolute;
  overflow: hidden;
  color: #fff;
  top: 14px;
  left: 0px;
}
/* line 174, ../sass/all/brief-form.scss */
#BriefForm #BriefFormContact #BriefFormContactLBL input {
  position: relative;
  overflow: hidden;
  padding-bottom: 14px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  margin-bottom: 50px;
  padding-top: 19px;
  color: #fff;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  width: calc(100% - 55px);
  padding-left: 55px;
}
/* line 189, ../sass/all/brief-form.scss */
#BriefForm #BriefFormContact #BriefFormContactLBL input.error {
  border-bottom: 1px solid #ff2d63;
}
/* line 195, ../sass/all/brief-form.scss */
#BriefForm #BriefFormContact #BriefFormContactRBl {
  position: relative;
  overflow: hidden;
  float: left;
  width: calc(50% - 20px);
}
/* line 203, ../sass/all/brief-form.scss */
#BriefForm #BriefFormContact #BriefFormContactRBl p:nth-child(2) input {
  margin-bottom: 0px;
  width: calc(100% - 110px);
  padding-left: 110px;
}
/* line 211, ../sass/all/brief-form.scss */
#BriefForm #BriefFormContact #BriefFormContactRBl label {
  position: absolute;
  overflow: hidden;
  color: #fff;
  top: 14px;
  left: 0px;
}
/* line 219, ../sass/all/brief-form.scss */
#BriefForm #BriefFormContact #BriefFormContactRBl input {
  position: relative;
  overflow: hidden;
  padding-bottom: 14px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  margin-bottom: 50px;
  padding-top: 19px;
  color: #fff;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  width: calc(100% - 96px);
  padding-left: 96px;
}
/* line 234, ../sass/all/brief-form.scss */
#BriefForm #BriefFormContact #BriefFormContactRBl input.error {
  border-bottom: 1px solid #ff2d63;
}
/* line 241, ../sass/all/brief-form.scss */
#BriefForm #BriefContactInfo {
  position: relative;
  overflow: hidden;
}
/* line 245, ../sass/all/brief-form.scss */
#BriefForm #BriefContactInfo h3 {
  margin-top: 55px;
}
/* line 249, ../sass/all/brief-form.scss */
#BriefForm #BriefContactInfo p {
  position: relative;
  overflow: hidden;
  float: left;
  margin-right: 20px;
  margin-bottom: 12px;
}
/* line 256, ../sass/all/brief-form.scss */
#BriefForm #BriefContactInfo p input {
  position: absolute;
  left: 0px;
  opacity: 0;
  z-index: -20;
}
/* line 262, ../sass/all/brief-form.scss */
#BriefForm #BriefContactInfo p input:checked + label {
  background: #29b8f2;
}
/* line 266, ../sass/all/brief-form.scss */
#BriefForm #BriefContactInfo p input:hover + label {
  background: #29b8f2;
}
/* line 271, ../sass/all/brief-form.scss */
#BriefForm #BriefContactInfo p label {
  position: relative;
  overflow: hidden;
  font-size: 16px;
  color: #0e121a;
  background: #fff;
  height: 40px;
  line-height: 40px;
  border-radius: 3px;
  text-align: center;
  padding: 0px 20px;
  display: inline-block;
  cursor: pointer;
}
/* line 277, ../sass/all/brief-form.scss */
#BriefForm #BriefFormSubmit {
  position: relative;
  overflow: hidden;
  margin-top: 20px;
}
/* line 282, ../sass/all/brief-form.scss */
#BriefForm #BriefFormSubmit button {
  position: relative;
  overflow: hidden;
  height: 50px;
  background: transparent;
  border: 1px solid  #29b8f2;
  line-height: 50px;
  padding: 0px 25px;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  color: #fff;
  float: left;
  display: inline-block;
  cursor: pointer;
}
/* line 298, ../sass/all/brief-form.scss */
#BriefForm #BriefFormSubmit button:hover {
  background: #29b8f2;
  color: #fff;
}
/* line 304, ../sass/all/brief-form.scss */
#BriefForm #BriefFormSubmit span {
  position: relative;
  overflow: hidden;
  display: block;
  float: left;
  color: #d2d2d2;
  font-size: 12px;
  line-height: 19px;
  margin-left: 40px;
  width: calc(100% - 0px - 286px);
  margin-top: 5px;
}

@media only screen and (min-width: 1440px) and (max-width: 1650px) {
  /* line 330, ../sass/all/brief-form.scss */
  #BriefForm h3 {
    margin-top: 55px;
    margin-bottom: 25px;
    font-size: 30px;
    line-height: 37px;
  }
  /* line 339, ../sass/all/brief-form.scss */
  #BriefForm #BriefFormService p {
    margin-right: 15px;
    margin-bottom: 8px;
  }
  /* line 343, ../sass/all/brief-form.scss */
  #BriefForm #BriefFormService p label {
    font-size: 16px;
    height: 38px;
    line-height: 38px;
    border-radius: 3px;
    padding: 0px 20px;
  }
  /* line 355, ../sass/all/brief-form.scss */
  #BriefForm #BriefFormMoney h3 {
    margin-top: 30px;
  }
  /* line 359, ../sass/all/brief-form.scss */
  #BriefForm #BriefFormMoney p {
    margin-right: 20px;
    margin-bottom: 12px;
  }
  /* line 363, ../sass/all/brief-form.scss */
  #BriefForm #BriefFormMoney p label {
    font-size: 16px;
    height: 38px;
    line-height: 38px;
    border-radius: 3px;
    padding: 0px 20px;
  }
  /* line 375, ../sass/all/brief-form.scss */
  #BriefForm #BriefFormTask h3 {
    margin-top: 30px;
  }
  /* line 379, ../sass/all/brief-form.scss */
  #BriefForm #BriefFormTask label {
    top: 14px;
    left: 0px;
  }
  /* line 384, ../sass/all/brief-form.scss */
  #BriefForm #BriefFormTask input {
    padding-bottom: 14px;
    padding-top: 19px;
    font-size: 16px;
    width: calc(100% - 80px);
    padding-left: 80px;
  }
  /* line 396, ../sass/all/brief-form.scss */
  #BriefForm #BriefFormContact #BriefFormContactLBL {
    width: calc(50% - 20px);
    margin-right: 40px;
  }
  /* line 402, ../sass/all/brief-form.scss */
  #BriefForm #BriefFormContact #BriefFormContactLBL p:nth-child(2) input {
    width: calc(100% - 73px);
    padding-left: 73px;
  }
  /* line 409, ../sass/all/brief-form.scss */
  #BriefForm #BriefFormContact #BriefFormContactLBL label {
    top: 14px;
  }
  /* line 413, ../sass/all/brief-form.scss */
  #BriefForm #BriefFormContact #BriefFormContactLBL input {
    padding-bottom: 14px;
    margin-bottom: 50px;
    padding-top: 19px;
    font-size: 16px;
    width: calc(100% - 55px);
    padding-left: 55px;
  }
  /* line 423, ../sass/all/brief-form.scss */
  #BriefForm #BriefFormContact #BriefFormContactRBl {
    width: calc(50% - 20px);
  }
  /* line 428, ../sass/all/brief-form.scss */
  #BriefForm #BriefFormContact #BriefFormContactRBl p:nth-child(2) input {
    margin-bottom: 0px;
    width: calc(100% - 110px);
    padding-left: 110px;
  }
  /* line 436, ../sass/all/brief-form.scss */
  #BriefForm #BriefFormContact #BriefFormContactRBl label {
    top: 14px;
  }
  /* line 440, ../sass/all/brief-form.scss */
  #BriefForm #BriefFormContact #BriefFormContactRBl input {
    padding-bottom: 14px;
    margin-bottom: 50px;
    padding-top: 19px;
    font-size: 16px;
    width: calc(100% - 96px);
    padding-left: 96px;
  }
  /* line 454, ../sass/all/brief-form.scss */
  #BriefForm #BriefContactInfo h3 {
    margin-top: 55px;
  }
  /* line 458, ../sass/all/brief-form.scss */
  #BriefForm #BriefContactInfo p {
    margin-right: 20px;
    margin-bottom: 12px;
  }
  /* line 462, ../sass/all/brief-form.scss */
  #BriefForm #BriefContactInfo p label {
    font-size: 16px;
    height: 38px;
    line-height: 38px;
    border-radius: 3px;
    padding: 0px 20px;
  }
  /* line 472, ../sass/all/brief-form.scss */
  #BriefForm #BriefFormSubmit {
    margin-top: 20px;
  }
  /* line 475, ../sass/all/brief-form.scss */
  #BriefForm #BriefFormSubmit button {
    height: 50px;
    line-height: 50px;
    padding: 0px 25px;
    font-size: 18px;
  }
  /* line 482, ../sass/all/brief-form.scss */
  #BriefForm #BriefFormSubmit span {
    font-size: 12px;
    line-height: 19px;
    margin-left: 40px;
    width: calc(100% - 0px - 286px);
    margin-top: 5px;
  }
}
@media only screen and (min-width: 240px) and (max-width: 768px) {
  /* line 500, ../sass/all/brief-form.scss */
  #BriefForm h3 {
    margin-top: 35px;
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 26px;
  }
  /* line 507, ../sass/all/brief-form.scss */
  #BriefForm #BriefFormService {
    display: none;
  }
  /* line 510, ../sass/all/brief-form.scss */
  #BriefForm #BriefFormService p {
    margin-right: 10px;
    margin-bottom: 5px;
  }
  /* line 516, ../sass/all/brief-form.scss */
  #BriefForm #BriefFormService p input:checked + label {
    background: #29b8f2 !important;
  }
  /* line 521, ../sass/all/brief-form.scss */
  #BriefForm #BriefFormService p label {
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    border-radius: 2px;
    padding: 0px 15px;
  }
  /* line 532, ../sass/all/brief-form.scss */
  #BriefForm #BriefFormMoney {
    display: none;
  }
  /* line 535, ../sass/all/brief-form.scss */
  #BriefForm #BriefFormMoney h3 {
    margin-top: 30px;
  }
  /* line 539, ../sass/all/brief-form.scss */
  #BriefForm #BriefFormMoney p {
    margin-right: 10px;
    margin-bottom: 5px;
  }
  /* line 543, ../sass/all/brief-form.scss */
  #BriefForm #BriefFormMoney p label {
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    border-radius: 2px;
    padding: 0px 15px;
  }
  /* line 555, ../sass/all/brief-form.scss */
  #BriefForm #BriefFormTask h3 {
    margin-top: 20px;
  }
  /* line 559, ../sass/all/brief-form.scss */
  #BriefForm #BriefFormTask label {
    top: 14px;
    left: 0px;
  }
  /* line 564, ../sass/all/brief-form.scss */
  #BriefForm #BriefFormTask input {
    padding-bottom: 14px;
    padding-top: 19px;
    font-size: 16px;
    width: calc(100% - 80px);
    padding-left: 80px;
  }
  /* line 576, ../sass/all/brief-form.scss */
  #BriefForm #BriefFormContact #BriefFormContactLBL {
    width: calc(100% - 0px);
    margin-right: 0px;
    margin-bottom: 20px;
  }
  /* line 583, ../sass/all/brief-form.scss */
  #BriefForm #BriefFormContact #BriefFormContactLBL p:nth-child(2) input {
    width: calc(100% - 73px);
    padding-left: 73px;
  }
  /* line 590, ../sass/all/brief-form.scss */
  #BriefForm #BriefFormContact #BriefFormContactLBL label {
    top: 14px;
  }
  /* line 594, ../sass/all/brief-form.scss */
  #BriefForm #BriefFormContact #BriefFormContactLBL input {
    padding-bottom: 14px;
    margin-bottom: 20px;
    padding-top: 19px;
    font-size: 16px;
    width: calc(100% - 55px);
    padding-left: 55px;
  }
  /* line 604, ../sass/all/brief-form.scss */
  #BriefForm #BriefFormContact #BriefFormContactRBl {
    width: calc(100% - 0px);
  }
  /* line 609, ../sass/all/brief-form.scss */
  #BriefForm #BriefFormContact #BriefFormContactRBl p:nth-child(2) input {
    margin-bottom: 0px;
    width: calc(100% - 110px);
    padding-left: 110px;
  }
  /* line 617, ../sass/all/brief-form.scss */
  #BriefForm #BriefFormContact #BriefFormContactRBl label {
    top: 14px;
  }
  /* line 621, ../sass/all/brief-form.scss */
  #BriefForm #BriefFormContact #BriefFormContactRBl input {
    padding-bottom: 14px;
    margin-bottom: 20px;
    padding-top: 19px;
    font-size: 16px;
    width: calc(100% - 96px);
    padding-left: 96px;
  }
  /* line 633, ../sass/all/brief-form.scss */
  #BriefForm #BriefContactInfo {
    display: none;
  }
  /* line 636, ../sass/all/brief-form.scss */
  #BriefForm #BriefContactInfo h3 {
    margin-top: 35px;
  }
  /* line 640, ../sass/all/brief-form.scss */
  #BriefForm #BriefContactInfo p {
    margin-right: 10px;
    margin-bottom: 6px;
  }
  /* line 644, ../sass/all/brief-form.scss */
  #BriefForm #BriefContactInfo p label {
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    border-radius: 2px;
    padding: 0px 15px;
  }
  /* line 654, ../sass/all/brief-form.scss */
  #BriefForm #BriefFormSubmit {
    margin-top: 15px;
  }
  /* line 657, ../sass/all/brief-form.scss */
  #BriefForm #BriefFormSubmit button {
    height: 40px;
    line-height: 40px;
    padding: 0px 20px;
    font-size: 16px;
  }
  /* line 664, ../sass/all/brief-form.scss */
  #BriefForm #BriefFormSubmit span {
    font-size: 10px;
    line-height: 19px;
    margin-left: 0px;
    width: calc(100% - 0px - 0px);
    margin-top: 15px;
  }
}
/* line 1, ../sass/all/header-fixed.scss */
#headerFixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #383838;
  border-top: 1px solid #383838;
  background: url(../imgNew/body-bg.png) left top;
  z-index: 10;
}

/* line 13, ../sass/all/header-fixed.scss */
#headerFixedLogo {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow: hidden;
  float: left;
  width: 25%;
  height: 100%;
}
/* line 31, ../sass/all/header-fixed.scss */
#headerFixedLogo a {
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin-left: 8%;
}
/* line 37, ../sass/all/header-fixed.scss */
#headerFixedLogo a img {
  display: none;
}
/* line 41, ../sass/all/header-fixed.scss */
#headerFixedLogo a:hover {
  opacity: 0.7;
}

/* line 47, ../sass/all/header-fixed.scss */
#headerFixedNav {
  position: relative;
  overflow: hidden;
  float: left;
  width: calc(50% - 1px);
  height: 100%;
}
/* line 54, ../sass/all/header-fixed.scss */
#headerFixedNav ul {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  height: 100%;
}
/* line 66, ../sass/all/header-fixed.scss */
#headerFixedNav ul li {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  margin: 0 24px;
}
/* line 80, ../sass/all/header-fixed.scss */
#headerFixedNav ul li a {
  display: block;
  position: relative;
  overflow: hidden;
  font-size: 16px;
  color: #fff;
  font-weight: 800;
}
/* line 88, ../sass/all/header-fixed.scss */
#headerFixedNav ul li a:hover {
  color: #29b8f2;
}

/* line 96, ../sass/all/header-fixed.scss */
#headerFixedRight {
  position: relative;
  overflow: hidden;
  float: left;
  width: calc(25% + 1px);
  height: 10%;
  text-align: right;
  height: 100%;
}
/* line 105, ../sass/all/header-fixed.scss */
#headerFixedRight .open_popup {
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 30px;
  line-height: 30px;
  border: 1px solid #fff;
  font-size: 13px;
  color: #fff;
  padding: 0 10px;
  margin-top: 19px;
  margin-right: 11%;
}
/* line 118, ../sass/all/header-fixed.scss */
#headerFixedRight .open_popup:hover {
  border: 1px solid #29b8f2;
  color: #29b8f2;
}
/* line 124, ../sass/all/header-fixed.scss */
#headerFixedRight .toggle-overlay {
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 25px;
  width: 25px;
  margin-right: 9%;
  margin-top: 22px;
  background: url(../imgNew/icon-menu.svg) center center no-repeat;
  background-size: contain;
  float: right;
  cursor: pointer;
}
/* line 137, ../sass/all/header-fixed.scss */
#headerFixedRight .toggle-overlay:hover {
  background: url(../imgNew/icon-menu-h.svg) center center no-repeat;
  background-size: contain;
}

@media only screen and (min-width: 1000px) and (max-width: 1219px) {
  /* line 146, ../sass/all/header-fixed.scss */
  #headerFixed {
    height: 50px;
  }

  /* line 152, ../sass/all/header-fixed.scss */
  #headerFixedLogo a img {
    display: none;
    width: 180px;
  }

  /* line 161, ../sass/all/header-fixed.scss */
  #headerFixedNav ul li {
    margin: 0 24px;
  }
  /* line 164, ../sass/all/header-fixed.scss */
  #headerFixedNav ul li a {
    font-size: 14px;
  }

  /* line 172, ../sass/all/header-fixed.scss */
  #headerFixedRight .open_popup {
    height: 26px;
    line-height: 26px;
    font-size: 12px;
    padding: 0 10px;
    margin-top: 10px;
    margin-right: 11%;
  }
  /* line 181, ../sass/all/header-fixed.scss */
  #headerFixedRight .toggle-overlay {
    margin-top: 11px;
  }
}
@media only screen and (min-width: 710px) and (max-width: 999px) {
  /* line 190, ../sass/all/header-fixed.scss */
  #headerFixed {
    height: 50px;
  }

  /* line 196, ../sass/all/header-fixed.scss */
  #headerFixedLogo a img {
    width: 150px;
  }

  /* line 204, ../sass/all/header-fixed.scss */
  #headerFixedNav ul li {
    margin: 0 10px;
  }
  /* line 207, ../sass/all/header-fixed.scss */
  #headerFixedNav ul li a {
    font-size: 13px;
    font-weight: 600;
  }

  /* line 216, ../sass/all/header-fixed.scss */
  #headerFixedRight .open_popup {
    height: 26px;
    line-height: 26px;
    font-size: 11px;
    padding: 0 7px;
    margin-top: 11px;
    margin-right: 10%;
  }
  /* line 225, ../sass/all/header-fixed.scss */
  #headerFixedRight .toggle-overlay {
    margin-right: 7%;
    margin-top: 12px;
  }
}
@media only screen and (min-width: 120px) and (max-width: 709px) {
  /* line 235, ../sass/all/header-fixed.scss */
  #headerFixedLogo {
    width: 50%;
    height: 100%;
  }
  /* line 239, ../sass/all/header-fixed.scss */
  #headerFixedLogo a {
    margin-left: 5vw;
  }
  /* line 242, ../sass/all/header-fixed.scss */
  #headerFixedLogo a img {
    display: block;
    width: 100%;
  }

  /* line 249, ../sass/all/header-fixed.scss */
  #headerFixedNav {
    display: none;
  }

  /* line 253, ../sass/all/header-fixed.scss */
  #headerFixedRight {
    width: 50%;
  }
}
