/* line 2, ../sass/service/service-post-font.scss */
h1 {
  font-size: 70px;
  line-height: 85px;
}

/* line 7, ../sass/service/service-post-font.scss */
h2 {
  font-size: 50px;
  line-height: 1.2;
}

/* line 12, ../sass/service/service-post-font.scss */
h3 {
  font-size: 18px;
}

/* line 18, ../sass/service/service-post-font.scss */
ul li {
  font-size: 16px;
  line-height: 1.6;
}
/* line 22, ../sass/service/service-post-font.scss */
ul li span {
  font-size: 35px;
}

/* line 28, ../sass/service/service-post-font.scss */
p {
  font-size: 18px;
  line-height: 1.6;
}

@media only screen and (min-width: 1400px) and (max-width: 1599px) {
  /* line 36, ../sass/service/service-post-font.scss */
  h1 {
    font-size: 55px;
    line-height: 66px;
  }

  /* line 41, ../sass/service/service-post-font.scss */
  h3 {
    font-size: 25px;
    line-height: 33px;
  }

  /* line 48, ../sass/service/service-post-font.scss */
  ul li {
    font-size: 16px;
    line-height: 1.6;
  }
  /* line 52, ../sass/service/service-post-font.scss */
  ul li span {
    font-size: 30px;
  }

  /* line 58, ../sass/service/service-post-font.scss */
  p {
    font-size: 18px;
    line-height: 1.6;
  }
}
@media only screen and (min-width: 1220px) and (max-width: 1439px) {
  /* line 67, ../sass/service/service-post-font.scss */
  h1 {
    font-size: 47px;
    line-height: 57px;
  }

  /* line 72, ../sass/service/service-post-font.scss */
  h3 {
    font-size: 22px;
    line-height: 27px;
  }

  /* line 79, ../sass/service/service-post-font.scss */
  ul li {
    font-size: 14px;
    line-height: 1.6;
  }
  /* line 83, ../sass/service/service-post-font.scss */
  ul li span {
    font-size: 27px;
  }

  /* line 89, ../sass/service/service-post-font.scss */
  p {
    font-size: 14px;
    line-height: 1.6;
  }
}
@media only screen and (min-width: 1000px) and (max-width: 1219px) {
  /* line 98, ../sass/service/service-post-font.scss */
  h1 {
    font-size: 40px;
    line-height: 48px;
  }

  /* line 103, ../sass/service/service-post-font.scss */
  h3 {
    font-size: 20px;
    line-height: 26px;
  }

  /* line 110, ../sass/service/service-post-font.scss */
  ul li {
    font-size: 14px;
    line-height: 1.6;
  }
  /* line 114, ../sass/service/service-post-font.scss */
  ul li span {
    font-size: 22px;
  }

  /* line 120, ../sass/service/service-post-font.scss */
  p {
    font-size: 14px;
    line-height: 1.6;
  }
}
@media only screen and (min-width: 768px) and (max-width: 999px) {
  /* line 129, ../sass/service/service-post-font.scss */
  h1 {
    font-size: 30px;
    line-height: 37px;
  }

  /* line 134, ../sass/service/service-post-font.scss */
  h3 {
    font-size: 17px;
    line-height: 21px;
  }

  /* line 141, ../sass/service/service-post-font.scss */
  ul li {
    font-size: 14px;
    line-height: 1.6;
  }
  /* line 145, ../sass/service/service-post-font.scss */
  ul li span {
    font-size: 18px;
  }

  /* line 151, ../sass/service/service-post-font.scss */
  p {
    font-size: 14px;
    line-height: 1.6;
  }
}
@media only screen and (min-width: 240px) and (max-width: 768px) {
  /* line 160, ../sass/service/service-post-font.scss */
  h1 {
    font-size: 30px;
    line-height: 37px;
  }

  /* line 165, ../sass/service/service-post-font.scss */
  h3 {
    font-size: 17px;
    line-height: 21px;
  }

  /* line 172, ../sass/service/service-post-font.scss */
  ul li {
    font-size: 14px;
    line-height: 1.6;
  }
  /* line 176, ../sass/service/service-post-font.scss */
  ul li span {
    font-size: 18px;
  }

  /* line 182, ../sass/service/service-post-font.scss */
  p {
    font-size: 14px;
    line-height: 1.6;
  }
}
/* line 1, ../sass/service/service-post-top.scss */
#ServicePage {
  position: fixed;
  overflow: hidden;
  height: 100vh;
  z-index: 100;
}
/* line 7, ../sass/service/service-post-top.scss */
#ServicePage:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  height: 1px;
  width: 25%;
  background: #383838;
}
/* line 18, ../sass/service/service-post-top.scss */
#ServicePage:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  height: 1px;
  width: calc(25% + 1px);
  background: #383838;
}

/* line 30, ../sass/service/service-post-top.scss */
#SPhTopLBL {
  position: fixed;
  overflow: hidden;
  float: left;
  width: 25%;
  height: 100vh;
  z-index: 100;
}
/* line 38, ../sass/service/service-post-top.scss */
#SPhTopLBL:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  height: 1px;
  width: 100%;
  background: #383838;
}
/* line 49, ../sass/service/service-post-top.scss */
#SPhTopLBL #SPhTopLogo {
  position: relative;
  overflow: hidden;
  height: 50%;
}
/* line 54, ../sass/service/service-post-top.scss */
#SPhTopLBL #SPhTopLogo a {
  display: flex;
  position: relative;
  overflow: hidden;
  height: 100%;
}
/* line 60, ../sass/service/service-post-top.scss */
#SPhTopLBL #SPhTopLogo a img {
  display: block;
  margin: auto;
  width: 37%;
}
/* line 68, ../sass/service/service-post-top.scss */
#SPhTopLBL #SPhTopBack {
  display: flex;
  position: relative;
  overflow: hidden;
  height: 50%;
}
/* line 74, ../sass/service/service-post-top.scss */
#SPhTopLBL #SPhTopBack a {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 100%;
  flex-wrap: wrap;
  display: flex;
}
/* line 84, ../sass/service/service-post-top.scss */
#SPhTopLBL #SPhTopBack a:hover span {
  color: #29b8f2;
}
/* line 89, ../sass/service/service-post-top.scss */
#SPhTopLBL #SPhTopBack a span {
  position: relative;
  overflow: hidden;
  text-transform: uppercase;
  font-size: 25px;
  color: #fff;
  letter-spacing: 1px;
  text-align: center;
  padding-bottom: 50px;
  margin: auto;
}
/* line 100, ../sass/service/service-post-top.scss */
#SPhTopLBL #SPhTopBack a span:after {
  content: "";
  width: 34px;
  height: 30px;
  position: absolute;
  background: url(../imgNew/arrow-back.png) center center no-repeat;
  background-size: contain;
  top: 80px;
  left: 64px;
}

/* line 115, ../sass/service/service-post-top.scss */
#SPhTopRBL {
  position: fixed;
  overflow: hidden;
  float: right;
  width: calc(25% + 1px);
  height: 100vh;
  right: 0px;
}
/* line 123, ../sass/service/service-post-top.scss */
#SPhTopRBL:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  height: 1px;
  width: 100%;
  background: #383838;
}
/* line 134, ../sass/service/service-post-top.scss */
#SPhTopRBL #SPhTopRBLContact {
  display: flex;
  position: relative;
  overflow: hidden;
  height: 50%;
}
/* line 140, ../sass/service/service-post-top.scss */
#SPhTopRBL #SPhTopRBLContact p {
  position: relative;
  overflow: hidden;
  margin: auto;
  width: 45%;
}
/* line 146, ../sass/service/service-post-top.scss */
#SPhTopRBL #SPhTopRBLContact p a {
  display: block;
  position: relative;
  overflow: hidden;
  font-size: 25px;
  color: #fff;
  text-align: center;
}
/* line 155, ../sass/service/service-post-top.scss */
#SPhTopRBL #SPhTopRBLContact p span {
  display: block;
  position: relative;
  overflow: hidden;
  margin-top: 14px;
  border-top: 1px solid #383838;
  padding-top: 10px;
  font-size: 14px;
  color: #b1b1b1;
  line-height: 1.5;
  text-align: center;
}
/* line 170, ../sass/service/service-post-top.scss */
#SPhTopRBL #SPhTopRBLBg {
  display: flex;
  position: relative;
  overflow: hidden;
  height: 50%;
  background: url(../imgNew/bg-rock.png) center center no-repeat;
}
/* line 177, ../sass/service/service-post-top.scss */
#SPhTopRBL #SPhTopRBLBg .SPhTopRBLBgImg {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
/* line 186, ../sass/service/service-post-top.scss */
#SPhTopRBL #SPhTopRBLBg .SPhTopRBLBgImg img {
  display: block;
  margin: auto;
  width: 100%;
}
/* line 194, ../sass/service/service-post-top.scss */
#SPhTopRBL #SPhTopRBLBg #SPhTopRBLBgimg1 img {
  animation: orbit 100s linear infinite;
}
/* line 200, ../sass/service/service-post-top.scss */
#SPhTopRBL #SPhTopRBLBg #SPhTopRBLBgimg2 {
  z-index: 3;
}
/* line 203, ../sass/service/service-post-top.scss */
#SPhTopRBL #SPhTopRBLBg #SPhTopRBLBgimg2 img {
  animation: orbit 20s linear infinite;
}
/* line 208, ../sass/service/service-post-top.scss */
#SPhTopRBL #SPhTopRBLBg #SPhTopRBLBgimg3 {
  z-index: 4;
}
/* line 211, ../sass/service/service-post-top.scss */
#SPhTopRBL #SPhTopRBLBg #SPhTopRBLBgimg3 img {
  animation: orbit 50s linear infinite;
}
/* line 216, ../sass/service/service-post-top.scss */
#SPhTopRBL #SPhTopRBLBg #IndexTopCBImg4 {
  z-index: 1;
}

@keyframes orbit {
  from {
    transform: rotate(0deg) translateX(0px);
  }
  to {
    transform: rotate(360deg) translateX(0px);
  }
}
@media only screen and (min-width: 1651px) and (max-width: 1790px) {
  /* line 232, ../sass/service/service-post-top.scss */
  #SPhTopRBL #SPhTopRBLContact p {
    width: 55%;
  }
  /* line 235, ../sass/service/service-post-top.scss */
  #SPhTopRBL #SPhTopRBLContact p a {
    font-size: 20px;
  }
  /* line 239, ../sass/service/service-post-top.scss */
  #SPhTopRBL #SPhTopRBLContact p span {
    margin-top: 14px;
    padding-top: 10px;
    font-size: 14px;
    line-height: 1.5;
  }
  /* line 248, ../sass/service/service-post-top.scss */
  #SPhTopRBL #SPhTopRBLBg {
    height: 50%;
    background: url(../imgNew/bg-rock.png) center center no-repeat;
  }
}
@media only screen and (min-width: 1440px) and (max-width: 1650px) {
  /* line 262, ../sass/service/service-post-top.scss */
  #SPhTopLBL #SPhTopLogo {
    height: 50%;
  }
  /* line 267, ../sass/service/service-post-top.scss */
  #SPhTopLBL #SPhTopLogo a img {
    width: 37%;
  }
  /* line 277, ../sass/service/service-post-top.scss */
  #SPhTopLBL #SPhTopBack a span {
    font-size: 25px;
    letter-spacing: 1px;
    padding-bottom: 50px;
  }
  /* line 282, ../sass/service/service-post-top.scss */
  #SPhTopLBL #SPhTopBack a span:after {
    width: 34px;
    height: 30px;
    top: 80px;
    left: 64px;
  }

  /* line 297, ../sass/service/service-post-top.scss */
  #SPhTopRBL #SPhTopRBLContact p {
    width: 55%;
  }
  /* line 300, ../sass/service/service-post-top.scss */
  #SPhTopRBL #SPhTopRBLContact p a {
    font-size: 20px;
  }
  /* line 304, ../sass/service/service-post-top.scss */
  #SPhTopRBL #SPhTopRBLContact p span {
    margin-top: 14px;
    padding-top: 10px;
    font-size: 14px;
    line-height: 1.5;
  }
  /* line 313, ../sass/service/service-post-top.scss */
  #SPhTopRBL #SPhTopRBLBg {
    height: 50%;
    background: url(../imgNew/bg-rock.png) center center no-repeat;
  }
}
@media only screen and (min-width: 1220px) and (max-width: 1439px) {
  /* line 326, ../sass/service/service-post-top.scss */
  #SPhTopLBL #SPhTopLogo {
    height: 50%;
  }
  /* line 331, ../sass/service/service-post-top.scss */
  #SPhTopLBL #SPhTopLogo a img {
    width: 37%;
  }
  /* line 341, ../sass/service/service-post-top.scss */
  #SPhTopLBL #SPhTopBack a span {
    font-size: 20px;
    letter-spacing: 1px;
    padding-bottom: 55px;
  }
  /* line 346, ../sass/service/service-post-top.scss */
  #SPhTopLBL #SPhTopBack a span:after {
    width: 34px;
    height: 30px;
    top: 65px;
    left: 45px;
  }

  /* line 361, ../sass/service/service-post-top.scss */
  #SPhTopRBL #SPhTopRBLContact p {
    width: 55%;
  }
  /* line 364, ../sass/service/service-post-top.scss */
  #SPhTopRBL #SPhTopRBLContact p a {
    font-size: 20px;
  }
  /* line 368, ../sass/service/service-post-top.scss */
  #SPhTopRBL #SPhTopRBLContact p span {
    margin-top: 14px;
    padding-top: 10px;
    font-size: 11px;
    line-height: 1.5;
  }
  /* line 377, ../sass/service/service-post-top.scss */
  #SPhTopRBL #SPhTopRBLBg {
    height: 50%;
    background: url(../imgNew/bg-rock.png) center center no-repeat;
    background-size: 70%;
  }
}
@media only screen and (min-width: 1000px) and (max-width: 1219px) {
  /* line 390, ../sass/service/service-post-top.scss */
  #SPhTopLBL #SPhTopLogo {
    height: 50%;
  }
  /* line 395, ../sass/service/service-post-top.scss */
  #SPhTopLBL #SPhTopLogo a img {
    width: 37%;
  }
  /* line 405, ../sass/service/service-post-top.scss */
  #SPhTopLBL #SPhTopBack a span {
    font-size: 18px;
    letter-spacing: 1px;
    padding-bottom: 55px;
  }
  /* line 410, ../sass/service/service-post-top.scss */
  #SPhTopLBL #SPhTopBack a span:after {
    width: 34px;
    height: 30px;
    top: 65px;
    left: 45px;
  }

  /* line 425, ../sass/service/service-post-top.scss */
  #SPhTopRBL #SPhTopRBLContact p {
    width: 60%;
  }
  /* line 428, ../sass/service/service-post-top.scss */
  #SPhTopRBL #SPhTopRBLContact p a {
    font-size: 18px;
  }
  /* line 432, ../sass/service/service-post-top.scss */
  #SPhTopRBL #SPhTopRBLContact p span {
    margin-top: 14px;
    padding-top: 10px;
    font-size: 10px;
    line-height: 1.5;
  }
  /* line 441, ../sass/service/service-post-top.scss */
  #SPhTopRBL #SPhTopRBLBg {
    height: 50%;
    background: url(../imgNew/bg-rock.png) center center no-repeat;
    background-size: 70%;
  }
}
@media only screen and (min-width: 769px) and (max-width: 999px) {
  /* line 454, ../sass/service/service-post-top.scss */
  #SPhTopLBL #SPhTopLogo {
    height: 50%;
  }
  /* line 459, ../sass/service/service-post-top.scss */
  #SPhTopLBL #SPhTopLogo a img {
    width: 67%;
  }
  /* line 469, ../sass/service/service-post-top.scss */
  #SPhTopLBL #SPhTopBack a span {
    font-size: 15px;
    letter-spacing: 1px;
    padding-bottom: 55px;
  }
  /* line 474, ../sass/service/service-post-top.scss */
  #SPhTopLBL #SPhTopBack a span:after {
    width: 34px;
    height: 30px;
    top: 55px;
    left: 34px;
  }

  /* line 489, ../sass/service/service-post-top.scss */
  #SPhTopRBL #SPhTopRBLContact p {
    width: 90%;
  }
  /* line 492, ../sass/service/service-post-top.scss */
  #SPhTopRBL #SPhTopRBLContact p a {
    font-size: 15px;
  }
  /* line 496, ../sass/service/service-post-top.scss */
  #SPhTopRBL #SPhTopRBLContact p span {
    margin-top: 14px;
    padding-top: 10px;
    font-size: 9px;
    line-height: 1.5;
  }
  /* line 505, ../sass/service/service-post-top.scss */
  #SPhTopRBL #SPhTopRBLBg {
    height: 50%;
    background: url(../imgNew/bg-rock.png) center center no-repeat;
    background-size: 70%;
  }
}
/* line 2, ../sass/service/service-post-body.scss */
#SrviceMid {
  position: absolute;
  overflow: hidden;
  padding-left: calc(25%);
  width: calc(100% - 50% - 1px);
  min-height: 100vh;
}
/* line 9, ../sass/service/service-post-body.scss */
#SrviceMid hr {
  position: relative;
  overflow: hidden;
  height: 1px;
  border: none;
  width: 100%;
  background: #383838;
}

/* line 19, ../sass/service/service-post-body.scss */
#ServiceInner {
  position: relative;
  overflow: hidden;
  padding: 0px 117px;
  margin-bottom: 100px;
}
/* line 25, ../sass/service/service-post-body.scss */
#ServiceInner h1 {
  position: relative;
  overflow: hidden;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  margin-bottom: 75px;
  margin-top: 147px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
/* line 37, ../sass/service/service-post-body.scss */
#ServiceInner h3 {
  position: relative;
  overflow: hidden;
  margin-top: 75px;
  margin-bottom: 60px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
}
/* line 47, ../sass/service/service-post-body.scss */
#ServiceInner ul {
  position: relative;
  overflow: hidden;
}
/* line 51, ../sass/service/service-post-body.scss */
#ServiceInner ul li {
  position: relative;
  overflow: hidden;
  margin-bottom: 50px;
  color: #eaeaea;
  padding-left: 50px;
}
/* line 58, ../sass/service/service-post-body.scss */
#ServiceInner ul li:after {
  content: "";
  height: 5px;
  width: 20px;
  background: #29b8f2;
  position: absolute;
  left: 0px;
  top: 25px;
  display: block;
}
/* line 69, ../sass/service/service-post-body.scss */
#ServiceInner ul li span {
  position: relative;
  overflow: hidden;
  display: block;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 900;
}
/* line 82, ../sass/service/service-post-body.scss */
#ServiceInner p {
  position: relative;
  overflow: hidden;
  color: #eaeaea;
}

@media only screen and (min-width: 1440px) and (max-width: 1650px) {
  /* line 93, ../sass/service/service-post-body.scss */
  #ServiceInner {
    margin-bottom: 120px;
    padding: 0px 100px;
  }
  /* line 97, ../sass/service/service-post-body.scss */
  #ServiceInner h1 {
    margin-bottom: 55px;
    margin-top: 120px;
    letter-spacing: 1px;
  }
  /* line 103, ../sass/service/service-post-body.scss */
  #ServiceInner h3 {
    margin-top: 75px;
    margin-bottom: 60px;
    font-weight: 900;
  }
  /* line 111, ../sass/service/service-post-body.scss */
  #ServiceInner ul li {
    margin-bottom: 50px;
    padding-left: 50px;
  }
  /* line 115, ../sass/service/service-post-body.scss */
  #ServiceInner ul li:after {
    height: 5px;
    width: 20px;
    top: 21px;
  }
  /* line 121, ../sass/service/service-post-body.scss */
  #ServiceInner ul li span {
    margin-bottom: 30px;
    font-weight: 900;
  }
}
@media only screen and (min-width: 1220px) and (max-width: 1439px) {
  /* line 134, ../sass/service/service-post-body.scss */
  #ServiceInner {
    margin-bottom: 120px;
    padding: 0px 80px;
  }
  /* line 138, ../sass/service/service-post-body.scss */
  #ServiceInner h1 {
    margin-bottom: 55px;
    margin-top: 100px;
    letter-spacing: 1px;
  }
  /* line 144, ../sass/service/service-post-body.scss */
  #ServiceInner h3 {
    margin-top: 55px;
    margin-bottom: 40px;
    font-weight: 900;
  }
  /* line 152, ../sass/service/service-post-body.scss */
  #ServiceInner ul li {
    margin-bottom: 40px;
    padding-left: 40px;
  }
  /* line 156, ../sass/service/service-post-body.scss */
  #ServiceInner ul li:after {
    height: 5px;
    width: 20px;
    top: 20px;
  }
  /* line 162, ../sass/service/service-post-body.scss */
  #ServiceInner ul li span {
    margin-bottom: 20px;
    font-weight: 900;
  }
}
@media only screen and (min-width: 1000px) and (max-width: 1219px) {
  /* line 174, ../sass/service/service-post-body.scss */
  #ServiceInner {
    margin-bottom: 60px;
    padding: 0px 50px;
  }
  /* line 178, ../sass/service/service-post-body.scss */
  #ServiceInner h1 {
    margin-bottom: 45px;
    margin-top: 80px;
    letter-spacing: 1px;
  }
  /* line 184, ../sass/service/service-post-body.scss */
  #ServiceInner h3 {
    margin-top: 45px;
    margin-bottom: 35px;
    font-weight: 900;
  }
  /* line 192, ../sass/service/service-post-body.scss */
  #ServiceInner ul li {
    margin-bottom: 35px;
    padding-left: 35px;
  }
  /* line 196, ../sass/service/service-post-body.scss */
  #ServiceInner ul li:after {
    height: 5px;
    width: 18px;
    top: 14px;
  }
  /* line 202, ../sass/service/service-post-body.scss */
  #ServiceInner ul li span {
    margin-bottom: 15px;
    font-weight: 900;
  }
}
@media only screen and (min-width: 769px) and (max-width: 999px) {
  /* line 214, ../sass/service/service-post-body.scss */
  #ServiceInner {
    margin-bottom: 40px;
    padding: 0px 25px;
  }
  /* line 218, ../sass/service/service-post-body.scss */
  #ServiceInner h1 {
    margin-bottom: 35px;
    margin-top: 60px;
    letter-spacing: 1px;
  }
  /* line 224, ../sass/service/service-post-body.scss */
  #ServiceInner h3 {
    margin-top: 35px;
    margin-bottom: 30px;
    font-weight: 900;
  }
  /* line 232, ../sass/service/service-post-body.scss */
  #ServiceInner ul li {
    margin-bottom: 30px;
    padding-left: 35px;
  }
  /* line 236, ../sass/service/service-post-body.scss */
  #ServiceInner ul li:after {
    height: 5px;
    width: 18px;
    top: 14px;
  }
  /* line 242, ../sass/service/service-post-body.scss */
  #ServiceInner ul li span {
    margin-bottom: 10px;
    font-weight: 900;
  }
}
/* line 2, ../sass/service/service-post-form.scss */
#ServiceInnerForm {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  padding: 0px 117px;
  padding-bottom: 140px;
}
/* line 9, ../sass/service/service-post-form.scss */
#ServiceInnerForm h2 {
  position: relative;
  overflow: hidden;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  margin-bottom: 30px;
  margin-top: 140px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
/* line 21, ../sass/service/service-post-form.scss */
#ServiceInnerForm p {
  position: relative;
  overflow: hidden;
  color: #eaeaea;
}

@media only screen and (min-width: 1440px) and (max-width: 1650px) {
  /* line 31, ../sass/service/service-post-form.scss */
  #ServiceInnerForm {
    min-height: 100vh;
    padding: 0px 100px;
    padding-bottom: 80px;
  }
  /* line 36, ../sass/service/service-post-form.scss */
  #ServiceInnerForm h2 {
    margin-bottom: 25px;
    margin-top: 100px;
    font-size: 40px;
  }
  /* line 42, ../sass/service/service-post-form.scss */
  #ServiceInnerForm p {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1220px) and (max-width: 1439px) {
  /* line 51, ../sass/service/service-post-form.scss */
  #ServiceInnerForm {
    min-height: 100vh;
    padding: 0px 80px;
    padding-bottom: 60px;
  }
  /* line 56, ../sass/service/service-post-form.scss */
  #ServiceInnerForm h2 {
    margin-bottom: 25px;
    margin-top: 100px;
  }
}
@media only screen and (min-width: 1000px) and (max-width: 1219px) {
  /* line 66, ../sass/service/service-post-form.scss */
  #ServiceInnerForm {
    min-height: 100vh;
    padding: 0px 50px;
    padding-bottom: 40px;
  }
  /* line 71, ../sass/service/service-post-form.scss */
  #ServiceInnerForm h2 {
    margin-bottom: 20px;
    margin-top: 40px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 999px) {
  /* line 81, ../sass/service/service-post-form.scss */
  #ServiceInnerForm {
    min-height: 100vh;
    padding: 0px 25px;
    padding-bottom: 35px;
  }
  /* line 86, ../sass/service/service-post-form.scss */
  #ServiceInnerForm h2 {
    margin-bottom: 15px;
    margin-top: 35px;
  }
}
@media only screen and (min-width: 240px) and (max-width: 768px) {
  /* line 96, ../sass/service/service-post-form.scss */
  #ServiceInnerForm {
    min-height: 100vh;
    padding: 0px 2%;
    padding-bottom: 35px;
  }
  /* line 101, ../sass/service/service-post-form.scss */
  #ServiceInnerForm h2 {
    margin-bottom: 15px;
    margin-top: 35px;
    font-size: 30px;
    line-height: 37px;
  }
}
/* line 2, ../sass/service/service-post-mob.scss */
#ServiceMob {
  position: relative;
  overflow: hidden;
}

/* line 7, ../sass/service/service-post-mob.scss */
#ServiceMobTop {
  position: relative;
  overflow: hidden;
  float: left;
  width: 100%;
  height: calc(100vh/3 + 3px);
  display: flex;
}
/* line 15, ../sass/service/service-post-mob.scss */
#ServiceMobTop:after {
  content: '';
  display: block;
  position: absolute;
  top: 99%;
  left: 0;
  height: 1px;
  width: 100%;
  background: #383838;
}

/* line 27, ../sass/service/service-post-mob.scss */
#ServiceMobTopLogo {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 50%;
}
/* line 33, ../sass/service/service-post-mob.scss */
#ServiceMobTopLogo a {
  display: flex;
  position: relative;
  overflow: hidden;
  height: 100%;
}
/* line 39, ../sass/service/service-post-mob.scss */
#ServiceMobTopLogo a img {
  display: block;
  margin: auto;
  width: 70%;
}

/* line 47, ../sass/service/service-post-mob.scss */
#ServiceMobTopContact {
  float: left;
  width: 50%;
  display: flex;
}
/* line 52, ../sass/service/service-post-mob.scss */
#ServiceMobTopContact p {
  position: relative;
  overflow: hidden;
  margin: auto;
  width: 70%;
}
/* line 58, ../sass/service/service-post-mob.scss */
#ServiceMobTopContact p a {
  display: block;
  position: relative;
  overflow: hidden;
  font-size: 15px;
  color: #fff;
  text-align: center;
}
/* line 67, ../sass/service/service-post-mob.scss */
#ServiceMobTopContact p span {
  display: block;
  position: relative;
  overflow: hidden;
  margin-top: 7px;
  border-top: 1px solid #383838;
  padding-top: 5px;
  font-size: 9px;
  line-height: 1.5;
  text-align: center;
  color: #b1b1b1;
}

/* line 82, ../sass/service/service-post-mob.scss */
#ServiceMobBot {
  height: calc(100vh/3 + 3px);
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
}
/* line 89, ../sass/service/service-post-mob.scss */
#ServiceMobBot:after {
  content: '';
  display: block;
  position: absolute;
  top: 99%;
  left: 0;
  height: 1px;
  width: 100%;
  background: #383838;
}

/* line 101, ../sass/service/service-post-mob.scss */
#ServiceMobBotBack {
  float: left;
  width: 50%;
  display: flex;
  height: 100%;
}
/* line 107, ../sass/service/service-post-mob.scss */
#ServiceMobBotBack a {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 100%;
  flex-wrap: wrap;
  display: flex;
}
/* line 116, ../sass/service/service-post-mob.scss */
#ServiceMobBotBack a:hover span {
  color: #29b8f2;
}
/* line 121, ../sass/service/service-post-mob.scss */
#ServiceMobBotBack a span {
  position: relative;
  overflow: hidden;
  text-transform: uppercase;
  font-size: 18px;
  color: #fff;
  letter-spacing: 1px;
  text-align: center;
  padding-bottom: 50px;
  margin: auto;
}
/* line 132, ../sass/service/service-post-mob.scss */
#ServiceMobBotBack a span:after {
  content: "";
  width: 34px;
  height: 30px;
  position: absolute;
  background: url(../imgNew/arrow-back.png) center center no-repeat;
  background-size: contain;
  top: 59px;
  left: 43px;
}

/* line 146, ../sass/service/service-post-mob.scss */
#ServiceMobBotBg {
  position: relative;
  overflow: hidden;
  float: left;
  width: 50%;
  height: 100%;
  display: flex;
}
/* line 154, ../sass/service/service-post-mob.scss */
#ServiceMobBotBg .IndexTopCBImg {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
}
/* line 161, ../sass/service/service-post-mob.scss */
#ServiceMobBotBg .IndexTopCBImg img {
  position: relative;
  overflow: hidden;
  margin: auto;
  max-width: 100%;
}
/* line 170, ../sass/service/service-post-mob.scss */
#ServiceMobBotBg #IndexTopCBImg1 img {
  animation: orbit 100s linear infinite;
}
/* line 176, ../sass/service/service-post-mob.scss */
#ServiceMobBotBg #IndexTopCBImg2 {
  z-index: 3;
}
/* line 179, ../sass/service/service-post-mob.scss */
#ServiceMobBotBg #IndexTopCBImg2 img {
  animation: orbit 20s linear infinite;
}
/* line 184, ../sass/service/service-post-mob.scss */
#ServiceMobBotBg #IndexTopCBImg3 {
  z-index: 4;
}
/* line 187, ../sass/service/service-post-mob.scss */
#ServiceMobBotBg #IndexTopCBImg3 img {
  animation: orbit 50s linear infinite;
}
/* line 192, ../sass/service/service-post-mob.scss */
#ServiceMobBotBg #IndexTopCBImg4 {
  z-index: 1;
}

@keyframes orbit {
  from {
    transform: rotate(0deg) translateX(0px);
  }
  to {
    transform: rotate(360deg) translateX(0px);
  }
}
/* line 203, ../sass/service/service-post-mob.scss */
#ServiceMobBody {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
}

/* line 210, ../sass/service/service-post-mob.scss */
#ServiceMobBodyInfo {
  position: relative;
  overflow: hidden;
  padding: 0px 2%;
  border-bottom: 1px solid #383838;
  padding-bottom: 60px;
}
/* line 217, ../sass/service/service-post-mob.scss */
#ServiceMobBodyInfo h1 {
  position: relative;
  overflow: hidden;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  margin-bottom: 35px;
  margin-top: 60px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
/* line 229, ../sass/service/service-post-mob.scss */
#ServiceMobBodyInfo h3 {
  position: relative;
  overflow: hidden;
  margin-top: 35px;
  margin-bottom: 20px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
}
/* line 239, ../sass/service/service-post-mob.scss */
#ServiceMobBodyInfo ul {
  position: relative;
  overflow: hidden;
}
/* line 243, ../sass/service/service-post-mob.scss */
#ServiceMobBodyInfo ul li {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
  color: #eaeaea;
  padding-left: 30px;
}
/* line 250, ../sass/service/service-post-mob.scss */
#ServiceMobBodyInfo ul li:after {
  content: "";
  height: 3px;
  width: 15px;
  background: #29b8f2;
  position: absolute;
  left: 0px;
  top: 12px;
  display: block;
}
/* line 261, ../sass/service/service-post-mob.scss */
#ServiceMobBodyInfo ul li span {
  position: relative;
  overflow: hidden;
  display: block;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: 900;
}
/* line 274, ../sass/service/service-post-mob.scss */
#ServiceMobBodyInfo p {
  position: relative;
  overflow: hidden;
  color: #eaeaea;
}

/* line 12, ../sass/service-post.scss */
#ServiceMob {
  display: none;
}

@media only screen and (min-width: 240px) and (max-width: 768px) {
  /* line 18, ../sass/service-post.scss */
  #ServiceDesc {
    display: none;
  }

  /* line 22, ../sass/service-post.scss */
  #ServiceMob {
    display: block;
  }
}
