@import 'animation.css';
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body { 
    background-color: #17131b;
    overflow-x: hidden;
    cursor: url('../images/cursor.png'), default;
    font-family: 'Oswald', sans-serif;
    color: rgb(255, 255, 255);
}
header {
    position: fixed;
    height: 50px;
    width: 55vw;
    background-color: rgba(33, 33, 33, 0.4);
    border-bottom-right-radius: 90px;
    box-shadow: 0 0 40px rgba(133, 133, 133, 0.1);
    transition-duration: 700ms;
    z-index: 20;
}
nav {
    display: inline-block;
    vertical-align: top;
    height: 50px;
    padding-top: 15px;
    margin-left: 50px;
}
.menuItem {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.1em;
    padding: 12px;
    transition-duration: 500ms;
}
.logo {
    display: inline-block;
    height: 40px;
}
.logo > img {
    height: 40px;
    margin: 5px;
    transition-duration: 600ms;
}
.section {
    height: 100vh;
    width: 100vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;
    transition-duration: 1s;
    animation: showSection 700ms linear;
}
.section1 {
    background-image: url('../images/bg/1.png');
}
.section2 {
    background-image: url('../images/bg/2.png');
}
.section3 {
    background-image: url('../images/bg/3.png');
}
.section4 {
    background-image: url('../images/bg/4.png');
}
.section5 {
    background-image: url('../images/bg/5.png');
}
.section6 {
    background-image: url('../images/bg/6.png');
}